@media (max-width: 800px){
    .Footer__Img--Arriba {
        margin: 0;
    }
    #Footer__Noindex {
        width: 100vw;
    }
    /*!Index*/
    header {
        height: 8rem;
        align-items: center;
    }

    nav.Menu__Navegacion{
        height: auto;
        width: auto;
    }

    li{
        align-self: center;
    }
    ul.Navegacion__Lista {
        position:absolute;
        top: 0px;

        display: grid;
        grid-area: 
        "Inicio Componentes "
        "Perifericos ArmadoPC ";

        grid-template-columns: 1fr 1fr ;
        grid-template-rows: 1fr 1fr;

        height: 8rem;
        width: 60%;
    }
    a.Index {
        grid-area: Inicio;
    }
    a.Componentes {
        grid-area: Componentes;
    }
    a.Perifericos {
        grid-area: Perifericos;
    }
    a.ArmadoPC {
        grid-area: ArmadoPC;
    }
    a.Contacto {
        width: auto;
        position: absolute;
        right: 1%;
        top: 2.5rem;
    }
    a {
        font-size: 1.8rem ;
    }

    /*!Componentes*/
    #Grilla__Componentes {
        display: grid;
        grid-template-areas:
        "header header header "
        ". Componentes ."
        "footer footer footer";
        grid-template-rows: auto 10fr auto; 
        grid-template-columns: 1rem 100% 1rem;
        width: 94vw;
        margin: 0;
    }
    header {
        grid-area: header;
    }
    section.Componentes {
        grid-area: Componentes;       
    }
    footer {
        grid-area: footer;
    }

    .Componentes__Titulo {
        font-size: 3rem;
    }
    label.Componentes__Subtitulos {
        font-size: 3rem;
    }
    p.Componentes__Explicacion--Parrafo {
        font-size: 1.5rem;
    }
    .Componentes img {
        width: 0;
    }
    div.Borde__MPGRFA p {
        font-size: 1.5rem;
    }
    label.Componentes__MPGRF--Identificacion {
        font-size: 2.5rem;
    }
    .Componentes__MPGRF--Identificacion--Objeto {
        font-size: 2rem !important;
        font-weight: bold !important;
    }
    p#Descripcion {
        margin-bottom: 10%;
    }
    table#Tabla__Intel.Componentes__MPGRF--Lista--Procesador, table#Tabla__AMD--Procesador.Componentes__MPGRF--Lista--Procesador, table#Tabla__NVDIA.Componentes__MPGRF--Lista--Grafica, table#Tabla__AMD--Grafica.Componentes__MPGRF--Lista--Grafica,
    table#Tabla__Ram.Componentes__MPGRF--Lista--Ram, 
    table#Tabla__Fuente.Componentes__MPGRF--Lista--Fuente, table#Tabla__Almacenamiento.Componentes__MPGRF--Lista--Almacenamiento {
        margin: 0;
    }
    li {
        list-style: none;
        font-size: 1rem;
    }
    th {
        font-size: 1.2rem;
    }

    .Componentes__MPGRF--Lista--Procesador,
    .Componentes__MPGRF--Lista--Grafica,
    .Componentes__MPGRF--Lista--Ram,
    .Componentes__MPGRF--Lista--Fuente,
    .Componentes__MPGRF--Lista--Almacenamiento {
        width:100%;
        margin-left: 3rem;
    }

    .Componentes__MPGRF--Lista--Procesador,
    .Componentes__MPGRF--Lista--Grafica,
    .Componentes__MPGRF--Lista--Ram,
    .Componentes__MPGRF--Lista--Fuente,
    .Componentes__MPGRF--Lista--Almacenamiento th, td{
        text-align: left;
        vertical-align: top;
    }

    #Grilla__Motherboard, #Grilla__Procesador, #Grilla__Grafica, #Grilla__Ram, #Grilla__Fuente, #Grilla__Almacenamiento {
        display: flex;
        flex-direction: column;
    }
    
    #Tabla__Intel--Procesador {
        margin: 1% 0;
        width: auto;
        display: flex;
        flex-wrap: wrap;
    }
    
    #Tabla__AMD--Procesador {
        margin: 1% 0;
        width: auto;
        display: flex;
        flex-wrap: wrap;
    }

    /*!Perifericos*/
    #Grilla__Perifericos--Objetos {
        display: flex;
        flex-direction: column;
    }
    
    .Perifericos__Titulo {
        font-size: 3rem;
        font-weight: bold;
    }
    label.Perifericos__Subtitulos {
        font-size: 3rem;
    }
    .Perifericos p {
        font-size: 1.5rem;
    }
    .Perifericos img {
        width: 0;
    }

    /*!Armado PC*/
    .ArmadoPC h1 {
        font-size: 3rem;
    }
    .ArmadoPC p {
        font-size: 1.5rem;
    }


    /*!Contacto*/
    .Contacto h1 {
        font-size: 3rem;
    }
    .Contacto p {
        font-size: 1.5rem;
    }
    .Formulario fieldset {
        width: 100%;
        height: 70%;
    }
    .Contacto legend {
        font-size: 1.5rem;
    }
    .Contacto label {
        font-size: 1.5rem;
    }
    }