$background-color: linear-gradient(to bottom, #190f25, #1d0b0f, #190f25);
$header_footer-color: #5b3f81;
$color-logo: #cf4e45;
$border: thick solid #a23931;
$link-color: beige;
$tamanios: (
    tamanio__tabla: 1.7rem,
    tamanio__p: 2rem,
    tamanio__ide: 3.5rem,
    tamanio__sub: 5rem
);
$pesos: (
    peso__ideo: 600px,
    peso__ide: 700px,
    peso__sub: 800px
);

@import "./header";
@import "./footer";
@import "./media";

* {
    margin: 0;
    padding: 10;
}

html {
    font-size: 62.5%;
}

body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #190f25;
    color: #d2d4e7;
}

/*!Index*/
#Grilla__Index {
    display: grid;
    grid-template-areas:
    "header header header "
    ". Logo ."
    "footer footer footer";
    grid-template-rows: auto 10fr auto; 
    grid-template-columns: 1fr 20fr 1fr;

    height: 100vh; /*Viewport height*/ /*Viewport = Pantalla*/
    width: 100%;
    margin: 0;
}
header {
    grid-area: header;
}
section.Logo {
    grid-area: Logo;     
    display: grid;
    place-content: center;
    height: 100%;      
}
footer {
    grid-area: footer;
}

#Logo {
    width: 90vw;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    img {
        width: calc(18vw + 8vh);

        border-radius: 20%;
    
        align-self: center;
    }

    h1 {
        font-size:calc(5vw + 4vh);
        color: $color-logo;
    
        text-align: center;
        justify-self: center;
    }

    .Logo__Descripcion {
        width: 80%;
        font-size: 200%;
        padding: 0.5rem;
        text-align: center;

        border: $border;
        border-color: $color-logo;
        border-radius: 20px;
    }
}

/*!Componentes*/
#Grilla__Componentes {
    display: grid;
    grid-template-areas:
    "header header header "
    ". Componentes ."
    "footer footer footer";
    grid-template-rows: auto 10fr auto; 
    grid-template-columns: 1fr 100fr 2fr;

    width: 100%;
    margin: 0;

    header {
        grid-area: header;
    }
    section.Componentes {
        grid-area: Componentes;       
    }
    footer {
        grid-area: footer;
    }
}

.Componentes {
    width: auto;
    margin: 1%;

    .Componentes__Titulo {
        font-size: map-get($tamanios , tamanio__sub);
        font-weight: map-get($pesos, peso__sub);
    }

    .Componentes__Explicacion--Parrafo {
        font-size: map-get($tamanios , tamanio__p);
    }

    .Borde__MPGRFA {
        display: block;
        border: $border;
        border-radius: 1rem;
        padding: 1%;
        margin-bottom: 1%;
    }

    p {
        font-size: map-get($tamanios , tamanio__p);
        margin-top: 0.7rem;
    }

    .Componentes__Subtitulos {
        font-size: map-get($tamanios , tamanio__sub);
        font-weight: map-get($pesos, peso__sub);
    }

    .Componentes__Imagenes {
        width: 100%;
    }

    a {
        text-decoration: none;
        color: #754185;
    }

    .Componentes__Imagenes--Almacenamiento{
        width: 90%;
    }
    
    .Componentes__MPGRF {
        margin-top: 2rem;
        display: flex;
        height: 15%;
    }
    
    .Componentes__MPGRF p {
        margin-left: 2rem;
        width: 100%;
    }
    
    .Componentes__MPGRF--Identificacion {
        font-size: map-get($tamanios , tamanio__ide);
        font-weight: map-get($pesos, peso__ide);
    }
    
    .Componentes__MPGRF--Identificacion--Objeto {
        font-size: map-get($tamanios , tamanio__ide);
        font-weight: map-get($pesos, peso__ideo);
    }
    
    .Componentes__MPGRF--Identificacion--Parrafo span { 
        text-decoration: underline;
    }

    li {
        list-style: none;
        font-size: map-get($tamanios , tamanio__tabla);
    }

    th {
        font-size: map-get($tamanios , tamanio__p);
    }

    ul {
        padding: 0;
    }
}

/*MPGRF (Mother, Procesador, Grafica, Ram y Fuente)*/
/**Motherboard*/
#Grilla__Motherboard {
    display: grid;
    grid-template-areas:
    "Titulo Titulo"
    "Img Descripcion"
    "Identificacion Identificacion";

    grid-template-columns: 25rem auto;
    grid-template-rows: 5rem 25rem fit-content;

    height: fit-content;
    width: 100%;
    
    .Componentes__Subtitulos {
        grid-area: Titulo;
    }
    div img{
        grid-area: Img;
    }
    #Descripcion{
        grid-area: Descripcion;
    }
    #Identificacion {
        grid-area: Identificacion;
}
}

/**Procesador*/
#Grilla__Procesador {
    display: grid;
    grid-template-areas:
    "Titulo Titulo"
    "Img Descripcion"
    "Identificacion__Intel Identificacion__Intel"
    "Tabla__Intel Tabla__Intel"
    "Identificacion__AMD Identificacion__AMD"
    "Tabla__AMD Tabla__AMD";

    grid-template-columns: 25rem auto;
    grid-template-rows: 6rem 25rem fit-content auto auto auto;

    height: fit-content;
    width: 100%;

    .Componentes__Subtitulos {
        grid-area: Titulo;
    }
    div img{
        grid-area: Img;
    }
    #Descripcion{
        grid-area: Descripcion;
    }
    #Identificacion__Intel {
        grid-area: Identificacion__Intel;
    }
    #Tabla__Intel--Procesador {
        grid-area: Tabla__Intel;
        margin: 1% 3rem;
        display: flex;
        width: 80rem;
    }
    #Identificacion__AMD {
        grid-area: Identificacion__AMD;
    }
    #Tabla__AMD--Procesador {
        grid-area: Tabla__AMD;
        margin: 1% 3rem;
        display: flex;
        width: 80rem;
    }
}

.Componentes__MPGRF--Lista--Procesador--Intel{
    width:auto;
    margin: 0;

    th {
        height: 1%;
    }

    th, td {
        width: 20rem;
        text-align: left;
        vertical-align: top;
    }
}

.Componentes__MPGRF--Lista--Procesador--AMD{
    width:auto;
    margin: 0;

    th {
        height: 1%;
    }

    th, td{
        text-align: left;
        vertical-align: top;
        width: 20rem;
    }
}

/**Grafica*/
#Grilla__Grafica {
    display: grid;
    grid-template-areas: 
    "Titulo Titulo"
    "Img Descripcion"
    "Identificacion__NVIDIA Identificacion__NVIDIA"
    "Tabla__NVIDIA Tabla__NVIDIA"
    "Identificacion__AMD Identificacion__AMD"
    "Tabla__AMD Tabla__AMD";

    grid-template-columns: 25rem auto;
    grid-template-rows: 6rem 25rem fit-content auto auto auto;

    height: fit-content;
    width: 100%;

    .Componentes__Subtitulos {
        grid-area: Titulo;
    }
    div img{
        grid-area: Img;
    }
    #Descripcion{
        grid-area: Descripcion;
    }
    #Identificacion__NVIDIA {
        grid-area: Identificacion__NVIDIA;
    }
    #Tabla__NVIDIA {
        grid-area: Tabla__NVIDIA;
        margin: 1% 3rem;
    }
    #Identificacion__AMD--Grafica {
        grid-area: Identificacion__AMD;
    }
    #Tabla__AMD--Grafica {
        grid-area: Tabla__AMD;
        margin: 1% 3rem;
    }
}

.Componentes__MPGRF--Lista--Grafica{
    width: 70rem;
    margin-left: 3rem;

    th {
        height: 1%;
    }

    th, td {
        text-align: left;
        vertical-align: top;
    }
}

/**Ram*/
#Grilla__Ram {
    display: grid;
    grid-template-areas: 
    "Titulo Titulo"
    "Img Descripcion"
    "Identificacion Identificacion"
    "Tabla Tabla";

    grid-template-columns: 25rem auto;
    grid-template-rows: 6rem 25rem fit-content auto;

    height: fit-content;
    width: 100%;

    .Componentes__Subtitulos {
        grid-area: Titulo;
    }
    div img{
        grid-area: Img;
    }
    #Descripcion{
        grid-area: Descripcion;
    }
    #Identificacion__Ram {
        grid-area: Identificacion;
    }
    #Tabla__Ram {
        grid-area: Tabla;
        margin: 1% 3rem;
    }
}

.Componentes__MPGRF--Lista--Ram {
    width: 25rem;
    margin-left: 3rem;

    th, td {
        width: 10rem;
        text-align: left;
        vertical-align: top;
    }
}

/**Fuente*/
#Grilla__Fuente {
    display: grid;
    grid-template-areas: 
    "Titulo Titulo"
    "Img Descripcion"
    "Identificacion Identificacion"
    "Tabla Tabla";

    grid-template-columns: 25rem auto;
    grid-template-rows: 6rem 25rem fit-content auto;

    height: fit-content;
    width: 100%;

    .Componentes__Subtitulos {
        grid-area: Titulo;
    }
    div img{
        grid-area: Img;
    }
    #Descripcion{
        grid-area: Descripcion;
    }
    #Identificacion__Fuente {
        grid-area: Identificacion;
    }
    #Tabla__Fuente {
        grid-area: Tabla;
        margin: 1% 3rem;
    }
}

.Componentes__MPGRF--Lista--Fuente {
    width: fit-content;
    margin-left: 3rem;

    th, td {
        text-align: left;
        vertical-align: top;
    }
}

/**Almacenamiento*/
#Grilla__Almacenamiento {
    display: grid;
    grid-template-areas: 
    "Titulo Titulo"
    "Img Descripcion"
    "Identificacion__HDD Identificacion__HDD"
    "Identificacion__SSD Identificacion__SSD"
    "Tabla Tabla";

    grid-template-columns: 25rem auto;
    grid-template-rows: 6rem 25rem fit-content auto auto auto;

    height: fit-content;
    width: 100%;

    .Componentes__Subtitulos {
        grid-area: Titulo;
    }
    div img{
        grid-area: Img;
    }
    #Descripcion{
        grid-area: Descripcion;
    }
    #Identificacion__HDD {
        grid-area: Identificacion__HDD;
    }
    #Identificacion__SSD {
        grid-area: Identificacion__SSD;
    }
    #Tabla__Almacenamiento {
        grid-area: Tabla;
        margin: 1% 3rem;
    }
}

.Componentes__MPGRF--Lista--Almacenamiento{
    width: 70rem;
    margin-left: 3rem;

    th, td {
        text-align: left;
        vertical-align: top;
    }
}

/*!Perifericos*/
#Grilla__Perifericos {
    display: grid;
    grid-template-areas:
    "header header header "
    ". Perifericos ."
    "footer footer footer";
    grid-template-rows: auto 10fr auto; 
    grid-template-columns: 1fr 100fr 2fr;

    width: 100%;
    margin: 0;

    header {
        grid-area: header;
    }
    section.Perifericos {
        grid-area: Perifericos;       
    }
    footer {
        grid-area: footer;
    }
}

.Perifericos {
    width: auto;
    margin: 1%;

    .Perifericos__Titulo {
        font-size: map-get($tamanios , tamanio__sub);
        font-weight: map-get($pesos, peso__sub);
    }    
    
    .Perifericos__Subitulo {
        font-size: map-get($tamanios , tamanio__sub);
    }

    .Perifericos__Explicacion--Parrafo {
        font-size: map-get($tamanios , tamanio__p);
    }

    #Grilla__Perifericos--Objetos {
        display: grid;
        grid-template-areas: 
        "Titulo Titulo"
        "Img Descripcion";
    
        grid-template-columns: 25rem auto;
        grid-template-rows: 6rem 25rem;
    
        height: auto; /*Viewport height*/ /*Viewport = Pantalla*/
        width: 100%;
        margin: 0;
        
        .Perifericos__Subtitulos{
            grid-area: Titulo;
        }
        .Perifericos__Imagenes {
            grid-area: Img;
        }
        #Descripcion{
            grid-area: Descripcion;
        }
    }

    .Borde__MTAMM {
        display: block;

        border: $border;
        border-radius: 1rem;

        padding: 2rem;
        margin-bottom: 1%;
    }
    
    p {
        font-size: map-get($tamanios , tamanio__p);
    }

    .Perifericos__Subtitulos /*Subtitulos*/ {
        font-size: map-get($tamanios , tamanio__sub);
    }

    .Perifericos__Imagenes{
        width: 100%;    
    }
}

/*!Armado PC*/
#Grilla__ArmadoPC {
    display: grid;
    grid-template-areas:
    "header header header "
    ". Componentes ."
    "footer footer footer";
    grid-template-rows: auto 10fr auto; 
    grid-template-columns: 1fr 100fr 2fr;

    width: 100%;
    margin: 0;

    header {
        grid-area: header;
    }
    section.ArmadoPC {
        grid-area: Componentes;       
    }
    footer {
        grid-area: footer;
    }
}

.ArmadoPC {
    width: auto;
    margin: 1%;

    p {
        font-size: map-get($tamanios , tamanio__p);
    }

    .ArmadoPC__Titulo {
        font-size: map-get($tamanios , tamanio__sub);
        font-weight: map-get($pesos, peso__sub);
    }

    .Borde__ArmadoPC {
        border: $border;
        border-radius: 1rem;
        padding: 2rem;
        margin-bottom: 1%;

        a {
            text-decoration: none;
            color: #754185;
        }
    }

    .ArmadoPC__Subtitulo {  
        font-size: map-get($tamanios , tamanio__sub);
    }
}

/*!Contacto*/
.Contacto {
    width: 95%;
    margin: 1%;

    p, legend, label {
        font-size: map-get($tamanios , tamanio__p);
    }

    .Borde__Contacto {
        padding: 2rem;

        a {
            color: beige;
            text-decoration: none;
        }
    
    /*
    margin-bottom: calc();*/
    }

    .Contacto__Subtitulo {
        font-size: map-get($tamanios , tamanio__p);
    }

    /**Formulario*/
    .Formulario {
        fieldset {
            width: 30%;
        }
        
        .Formulario__Datos {
            display: flex;
            margin: 1%;
            width: auto;
        }
        
        .Formulario__Datos--Texto {
            width: 100%;

            input {
                background-color: #575454;
                width:98%;
                margin: 1% 0;
                height: 2rem;
            }
        }
        
        .Formulario__Datos--Texto--Textarea{
            width:98%;
            background-color: #575454;
            border-top: solid 2px #212121;
            border-left: solid 2px #212121;
        }
        
        .Formulario__Datos--Botones {
            width: auto;
            background-color: white;
            text-align: center;
            color: black;
            border: 1px solid black;
            border-radius: 0.5rem;
        }
    }
}